/*Add project Dialog*/


.dialog-textFieldArea{
	-fx-border-width:1;
	-fx-border-color:black;
	-fx-border-radius:15;
}

.project-dialog-button{
	-fx-background-radius:20;
	-fx-background-color:#205084;
	-fx-text-fill:white;
}
	.project-dialog-button:hover{
		-fx-background-color:derive(#205084, 30.0%);
	}
	.project-dialog-button:pressed{
		-fx-background-color:derive(#205084, 5.0%);
	}