/**
 * 
 *	Balance Manager tab
 * 
 */
 
#positiveRB{ /*RadioButton*/
	-jfx-selected-color:#138A36;
}

#negativeRB{ /*RadioButton*/
	-jfx-selected-color:#F76C5E;
}

#datePicker .date-picker-display-node{ /*DatePicker*/
	-jfx-unfocus-color:transparent;
}

.balance-manager-button{ /*Buttons of Balance Manager*/
	-fx-background-radius:20;
	-fx-min-height:30;
}

.table-balance .column-header, .table-view .filler { /*Parte superior de la tabla de balance*/
    -fx-size: 45;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}

.table-balance .cell{ /*Alto de las celdas de la tabla de balance*/
	-fx-cell-size:40;
}

