/*Botones */
.balance-manager-button{
	-fx-background-radius:0;
	-fx-background-color:#205084;
	-fx-text-fill:white;
	-fx-min-height:30;
}
	.balance-manager-button:hover{
		-fx-background-color:derive(#205084,30.0%);
	}
	.balance-manager-button:pressed{
		-fx-background-color:derive(#205084,5.0%);
	}
/*TextFields */
.balance-manager-textField{
	-jfx-focus-color:#466E99;
}
	.balance-manager-textField:hover{
		-jfx-unfocus-color:derive(#466E99,30.0%);
	}
	.balance-manager-textField:focused{
		-fx-background-color:derive(#466E99,80.0%);
	}
/*Label */
.balance-manager-label{
	-fx-font-size:20;
	-fx-text-fill:#205084;
}
/*Tabla, columna y rows */
.table-column .label .text{
	-fx-fill:white;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 45;
    -fx-border-color: -fx-box-border;
    -fx-border-width: 0 1 3 0;
    -fx-border-insets: 0;
}

.table-view .column-header, .column-header-background .filler{
	-fx-background-color:#205084;
}

.table-view .cell{
	-fx-cell-size:35;
}

.table-row-cell:hover{
	-fx-background-color: #6586AA;
}
	.table-row-cell:hover .text{
		-fx-fill:white;
	}
.table-row-cell:focused{
	-fx-background-color: #466E99;	
}
	.table-row-cell:focused .text{
		-fx-fill:white;
	}