
.task-card-header,.task-card-header .label{
	-fx-background-color:derive(#008000, 30.00%);
	-fx-text-fill:white;
}

.task-card-bottom, .task-card-bottom .label{
	-fx-background-color:#008000;
	-fx-text-fill:white;
}

.task-card-wrapper:hover .task-card-bottom{
	-fx-background-color:derive(#008000, 10.00%);	
}
