.titled-pane > .title
{
    -fx-padding: 1.166667em 0.16em 0.85em 1.17em; /*Alto del title*/
}

#calendario > .title
{
    -fx-background-color: #008080;
}
#gestorProyectos > .title
{
    -fx-background-color: #A52A2A;
}
#historialTareas > .title
{
    -fx-background-color: #D9A200;
}
#ideas > .title
{
    -fx-background-color: #678EE1;
}
#gestorGastos > .title
{
    -fx-background-color: #390244;
}
#buJoReader > .title
{
    -fx-background-color: #A32042;
}