@import "borderPaneLeft.css";
@import "borderPaneRight.css";  
@import "topBar.css";  
@import "scrollBar.css";     
               
.main-color        
{        
    -fx-background-color:#EBEBD3;  
}
.secondary-color
{
    -fx-background-color:#083D77; 
}
.sideBars-color,.list-cell 
{
	-fx-background-color:#F4D35E;
}
.top-menu-bar
{
	-fx-border-color: transparent transparent #FFD500 transparent;
	-fx-border-width: 2px;
}
.side-menu-bar
{
	-fx-border-color: transparent #F4D35E transparent transparent;
	-fx-border-width: 2px;
}