@import "menuSideBar.css";  
@import "topBar.css";
  
.main-color 
{
    -fx-background-color:#948392;   
}
.secondary-color
{   
    -fx-background-color:#241623;
}
.tertiary-color
{
	-fx-background-color:#35305A;
}
.highlight-color
{
    -fx-background-color:#4C3B4D;
}

.top-menu-bar
{
	-fx-border-color: transparent transparent #918CAB transparent;
	-fx-border-width: 2px;
	
}
.side-menu-bar
{
	-fx-border-color: transparent #918CAB transparent transparent;
	-fx-border-width: 2px;
}