
/*Project Manager*/
#addProjectButton, #SeeOldProjectButton
{
	-fx-background-radius:20;
	-fx-background-color:derive(#083D77,30.0%);		/*Secondary color */
	-fx-text-fill:white;	
}
#addProjectButton:hover, #SeeOldProjectButton:hover
{
	-fx-background-color:derive(#083D77,50.0%);		/*Secondary color */
}
#addProjectButton:pressed, #SeeOldProjectButton:pressed
{
	-fx-background-color:derive(#083D77,40.0%);		/*Secondary color */	
}