#cardSection:hover #textSection{
    -fx-background-color:#6096BA;
}
#textSection,#accessButton:hover,#editButton:hover, #deleteButton:hover{
    -fx-background-color:derive(#6096BA,10.0%);
}
#buttonSection,#accessButton,#editButton,#deleteButton{
    -fx-background-color:derive(#6096BA,20.0%);
    -fx-text-fill:derive(#6096BA,20.0%);
}
#buttonSection:hover #accessButton,#buttonSection:hover #editButton,#buttonSection:hover #deleteButton{
    -fx-text-fill: black;
}