/*
Paleta:
    -Rojo:              #A52A2A
    -Amarillo:          #D9A200
    -Verdizul:          #008080
    -Gris Oscuro:       #4C4C4C
    -Azul Oscuro:       #0B2239
    -Purpura Oscuro:    #390244
    -Rosa:              #A32042
    -Azul:              #678EE1
    -Negro:             #363434
*/

#calendarioVBox
{	
	-fx-background-image: url('../images/appointment.png');
	-fx-background-size: stretch;
}

.titled-pane > .title
{
    -fx-padding: 1.166667em 0.16em 0.85em 1.17em; /*Alto del title*/
}

.titled-pane > *.content 
{
-fx-background-color:
-fx-box-border,
linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
-fx-background-insets: 0, 0 1 1 1;
-fx-padding: 0.167em;
}

#calendario > .title
{
    -fx-background-color: #008080;
}

#gestorProyectos > .title
{
    -fx-background-color: #A52A2A;
}
#historialTareas > .title
{
    -fx-background-color: #D9A200;

}
#ideas > .title
{
    -fx-background-color: #678EE1;
}
#gestorGastos > .title
{
    -fx-background-color: #390244;
}
#buJoReader > .title
{
    -fx-background-color: #A32042;
}
#buJoEntrada > .title
{
    -fx-background-color: #0B2239;
}
#sidePane 
{
    -fx-background-color: #3d3a3a;
}
#topBar
{
    -fx-background-color: #363434;
}
#topSidePane
{
    -fx-background-color: #4C4C4C;
}
#tareasDia > .title
{
    -fx-background-color: #0B2239;
}
