
.theme-component{
	-fx-background-radius:5px;
}
.theme-component:disabled,.theme-component:disabled >*{
	-fx-opacity:1;
}

/* Black and white */
.black-and-white-theme{
	-fx-background-color:black;
}
	.black-and-white-theme:disabled{
		-fx-effect: dropshadow(two-pass-box , black, 15, 0.0, 0, 0);
	}
	.black-and-white-theme .text{
		-fx-fill:white;
	}
	
/* Princess Bubblegum */
.princess-bubblegum-theme{
	-fx-background-color:#BB5358;
}
	.princess-bubblegum-theme:disabled{
		-fx-effect: dropshadow(two-pass-box , black, 15, 0.0, 0, 0);
	}
	.princess-bubblegum-theme .text{
		-fx-fill:white;
	}
	
/* Grape Soda */
.grape-soda-theme{
	-fx-background-color:#511C29;
}
	.grape-soda-theme:disabled{
		-fx-effect: dropshadow(two-pass-box , black, 15, 0.0, 0, 0);
	}
	.grape-soda-theme .text{
		-fx-fill:white;
	}

/* Citric Summer */
.citric-summer-theme{
	-fx-background-color:#D86B4C;
}
	.citric-summer-theme:disabled{
		-fx-effect: dropshadow(two-pass-box , black, 15, 0.0, 0, 0);
	}
	.citric-summer-theme .text{
		-fx-fill:white;
	}
	
/* Scary Monsters */
.scary-monsters-theme{
	-fx-background-color:#171A21;
}
	.scary-monsters-theme:disabled{
		-fx-effect: dropshadow(two-pass-box , black, 15, 0.0, 0, 0);
	}
	.scary-monsters-theme .text{
		-fx-fill:#E88D67;
	}

/* Violent Femmes */
.violent-femmes-theme{
	-fx-background-color:#3E3A40;
}
	.violent-femmes-theme:disabled{
		-fx-effect: dropshadow(two-pass-box , black, 15, 0.0, 0, 0);	
	}
	.violent-femmes-theme .text{
		-fx-fill:white;
	}
	
/* Viudo submarino */
.viudo-submarino-theme{
	-fx-background-color:#40476D;
}
	.viudo-submarino-theme{
		-fx-effect: dropshadow(two-pass-box , black, 15, 0.0, 0, 0);	
	}
	.viudo-submarino-theme .text{
		-fx-fill:white;
	}
	
/* Real Betis */
.real-betis-theme{
	-fx-background-color:white;
}
	.real-betis-theme:disabled{
		-fx-effect: dropshadow(two-pass-box , black, 15, 0.0, 0, 0);	
	}
	.real-betis-theme .text{
		-fx-fill:#049750;
	}