.top-custom-button
{
	-fx-background-color:#918CAB;		/*Main color*/

}

.exit-button
{
    -fx-shape:"M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z";
}
.exit-button:hover
{
	-fx-background-color:#791106;		
}
.exit-button:pressed
{
	-fx-background-color:#99261F;		
}

.fullscreen-button
{
    -fx-shape:"M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z";
}
.fullscreen-button:hover
{
	-fx-background-color:#3D703E;
}
.fullscreen-button:pressed
{
	-fx-background-color:#66865F;
}

.exit-fullscreen-button
{
    -fx-shape:"M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z";
}
.exit-fullscreen-button:hover
{
	-fx-background-color:#4D618E;
}
.exit-fullscreen-button:pressed
{
	-fx-background-color:#5171A5;
}