     
@import "../topBar.css";  
@import "../leftBorderPane.css";
@import "../scrollBar.css";   
@import "../balanceManager.css";
@import "../ProjectManager.css";
@import "../taskComponentInserterDetail.css";
@import "../settings.css";
@import "../stackDialog.css";
@import "../themesComponentsStyle.css";
@import "../notes/notesController.css";
 
   
/**
 * <PENDIENTE DE BORRADO> 
 */
	.customDialog .content { 
	    -fx-padding: 0;  
	}
/*------ </PENDIENTE DE BORRADO> ------*/
		
/**
 * <Revisar por separado>
 */
 	/**
 	 * Color de los botones de la izquierda cuando te encuentras en la pestaña que le corresponde 
 	 */
 	  	#homeManagerSection:disabled .home-button,
		#calendarManagerSection:disabled .calendar-button,
		#entryManagerSection:disabled .reader-button,
		#projectManagerSection:disabled .project-manager-button,
		#notesManagerSection:disabled .notes-button,
		#balanceManagerSection:disabled .expenses-button,
		#pomodoroManagerSection:disabled .clock-button,
		#settingsManagerSection:disabled .option-button{ 
			-fx-opacity: 0.4
		}


 	/**
 	 * Label "Total" de balance manager. Labels de mes y año de balance manager. Labels de radioButton y toggleButton.
 	 * Colores del toggleButton de balanceManager
 	 * En temas claros se pone negro y en temas oscuros blanco
 	 */
 	 
		.balance-manager-label,#monthLabel,#yearLabel,.jfx-radio-button .text,.jfx-toggle-button .text{  
			-fx-text-fill:black;
			-fx-fill:black;
		}
		
		#totalToggle{
			-jfx-toggle-color:black;
			-jfx-toggle-line-color:derive(black,60%);	
			
			-jfx-untoggle-color:black;
			-jfx-untoggle-line-color:derive(black,60%);	
		}

	/** 
	 * Colores de los radioButton y los toggleButton de balance 
	 */	
	
		#positiveRB,#positiveFilter{ /* RadioButtons positivos */
		-jfx-selected-color:#008148;
		}
		
		#negativeRB,#negativeFilter{ /* RadioButtons negativos */
			-jfx-selected-color:#F76C5E;
		}
		
		#allFilter{/* RadioButton para ver todos los gastos, tanto positivos como negativos */
			-jfx-selected-color:#094D92;
		}
	
	/**
	 *
	 * Lines of jfxTextField and jfxTextArea  
	 * 
	 */
		.jfxTextFieldTextArea{
   			-jfx-focus-color:black;
   		}
   			.jfxTextFieldTextArea:hover{
   				-jfx-unfocus-color:derive(black,60.0%);
   			}
	
		/** 
		 * Checkbox del dialogo de projectManager
		 */
		 	
			.project-checkBox:determinate{
				-jfx-unchecked-color:black;
				-jfx-checked-color:black;
			}
	 
		/*TASK-INSERTER */ 
			.task-inserter{/*Color de fondo*/
				-fx-background-color:white;
			}
			.task-inserter-button{/*Color botones*/
				-fx-background-color:black;	
			}
				.insertTaskButton:hover{
				    -fx-background-color:derive(black,40%);
				}
				.insertTaskButton:pressed{
				    -fx-background-color:derive(black,10%);
				}
				 
		/*TASK-COMPONENT*/   
			.task-component{/*Inner wrapper of the taskComponent*/
				-fx-background-color:white;
			}
				.task-component:hover{
					-fx-background-color:derive(#E0DBDF,10%);
				}

			.completed-task .text{
				-fx-strikethrough: true ;
			}
			.uncompleted-task .text{
				-fx-strikethrough: false ;
			}
				
		/*TASK-DETAIL*/
			.arrow-button-TaskDetail,.delete-button{
				-fx-background-color:black;
			}
				 .arrow-button-TaskDetail:hover{
				 	-fx-background-color:derive(black,40%);
				}
				 .delete-button:hover{
					-fx-background-color:#5D061E;
				}
/*------ </Revisar por separado> ------*/

/**
 * <Color del centro del borderPane>
 * También de los elementos que necesitan camuflarse hasta que se les haga hover,
 * como el fondo de las celdas de las tablas
 */
	.main-color, .table-view,.table-row-cell,.table-row-cell:empty:hover, .transparent-scrollPane .viewport {         
		-fx-background-color:#E0DBDF;    
	}
/*------ </Color del centro del borderPane> ------*/

/**
 * <Barra superior, tablas, columnas, scrollBar y botones>
 * Color de fondo y color de texto
 */
 
	.top-menu-bar {/*Borde inferior de la barra superior*/
		-fx-border-color: transparent transparent derive(black, 40.0%) transparent;
		-fx-border-width: 2px;
	}  
	
	.top-custom-button{/*Color de los botones de la topBar*/
	-fx-background-color:white;		
	}
	
 	#datePicker{/*DatePicker de BalanceManager*/
		-jfx-default-color:black;
	}
	.balance-manager-textField{/*TextField de BalanceManager*/
		-jfx-focus-color:black;
	}
		#datePicker:hover .date-picker-display-node,.balance-manager-textField:hover{
			-jfx-unfocus-color:derive(black,60.0%);
		}
	
	/*SCROLL-BAR DEFAULT */
		.scroll-bar:horizontal .track, .scroll-bar:vertical .track{/*Track*/
		    -fx-background-color :derive(black,60%);
		}
		.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {/*Arrastrable*/
			-fx-background-color:black;
		}
		.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {/*Arrastrable :hover*/
		    -fx-background-color :derive(black,25%);
	    }

	/*:NORMAL*/
		.title-label, .table-column .label .text, .balance-manager-button,
		.project-button,.settings-button,.stack-dialog .custom-button{/*Texto de botones,columnas,topBar,...*/
			-fx-text-fill:white;   
			-fx-fill:white; 
		}  
		.secondary-color,.table-view .column-header, .column-header-background .filler,.balance-manager-button,
		.project-button,.settings-button, #previousMonthWrapper .button, #nextMonthWrapper .button,.stack-dialog .custom-button {   
		    -fx-background-color:black;     
		}  
	
	/*:HOVER*/
		.table-row-cell:hover, .balance-manager-button:hover, .project-button:hover,.settings-button:hover,
		#previousMonthWrapper:hover .button, #nextMonthWrapper:hover .button,.stack-dialog .custom-button:hover{
			-fx-background-color: derive(black, 60%); 
		}
		.table-row-cell:hover .text{
			-fx-fill:white;
		}

	/*:FOCUSED*/
		.table-row-cell:focused{
			-fx-background-color: derive(black, 40%);
		}
		.table-row-cell:focused .text{
			-fx-fill:white;
		}
		
	/*:PRESSED*/
		.balance-manager-button:pressed, .project-button:pressed,.settings-button:pressed,
		#previousMonthWrapper:pressed .button, #nextMonthWrapper:pressed .button, .stack-dialog .custom-button:pressed{
		-fx-background-color:derive(black,20%);
	}
/*------ </Barra superior, tablas, scrollBar y columnas> ------*/

/**
 * </Botonera del borderPane lado izquierdo>
 */
	.sideBars-color{ 
		-fx-background-color:white; 
	}
	.side-custom-button{
		-fx-background-color:black;
	} 
 
	.wrapperMenuItem:hover{
		-fx-background-color:derive(#DBD3D8,40%);
	}
		.wrapperMenuItem:pressed{
			-fx-background-color:derive(#DBD3D8,10%);
		}
		
	.wrapperMenuItem:hover .side-custom-button{
		-fx-background-color:derive(black,50.0%);
	}
		.wrapperMenuItem:pressed .side-custom-button{
			-fx-background-color:derive(black,20.0%);
		}
	.wrapperMenuItem .label{
		-fx-text-fill:black;
	}
	.wrapperMenuItem:hover .label{
		-fx-text-fill:derive(black,50.0%);
	}
		.wrapperMenuItem:pressed .label{
			-fx-text-fill:derive(black,20.0%);
		}

/*------ </Botonera del borderPane lado izquierdo> ------*/

/**
 * <comboBox de settings>
 */
	.settings-combo, .settings-combo .list-view{
		-fx-background-color:black;
	}
	.settings-combo .list-cell{
		-fx-background-color:derive(black, 60%);
	}
		.settings-combo .list-cell:hover{
			-fx-background-color:derive(black, 40%);
		}
		.settings-combo .list-cell:focused{
			-fx-background-color:derive(black, 20%);
		}	 
	.settings-combo .text{
		-fx-fill:white;
	}
	.settings-combo .arrow-button .arrow{
		-fx-background-color:white;
	}
/*------ </comboBox de settings> ------*/

/**
 * Miscelanea 
 */
 	.project-button{/*Radio de los botones de ProjectManager */
 		-fx-background-radius:20;
 	}
	.scroll-pane {/*Trasparencia scrollPane de homeView */
	    -fx-background-color:transparent;
	}
	.settings-button{/*Botones de Settings */
		-fx-background-radius:20;
		-fx-min-height:30;
		-fx-min-width:150;
	}
