
.task-card-header,.task-card-header .label{
	-fx-background-color:derive(#F4AC45, 30.00%);
	-fx-text-fill:black;
}

.task-card-bottom, .task-card-bottom .label{
	-fx-background-color:#F4AC45;
	-fx-text-fill:black;
}

.task-card-wrapper:hover .task-card-bottom, .task-card-wrapper:hover .task-card-bottom .label{
	-fx-background-color:derive(#F4AC45, 10.00%);	
}
