.note{
	-jfx-focus-color:#D66969;
	-fx-background-radius:5;	
}
	.note:hover{
		-jfx-unfocus-color:#D66969;
	}
	.note:focused{
		-fx-background-color:#E18F8F;
	}
 
.left-color, .list-cell{
	-fx-background-color:#EBB4B4;
}
.header-listView{
	-fx-background-color:#D66969;
}
.list-view{
	-fx-background-insets: 0; 
	-fx-padding: 0;
}
.list-cell{
	-fx-cell-size:60;
	-fx-font-size:15.0;
}
	.list-cell:filled:hover {
	    -fx-background-color: #9e1b32;
	    -fx-text-fill: white;
	}
	.list-cell:filled:selected:focused, .list-cell:filled:selected {
	    -fx-background-color: #9e1b32;								/*Un par de tonitos mas claro que list-cell:filled:hover*/
	    -fx-text-fill: white;
	}